- if found_items.present?
	- found_items.each do |found_item|
		%div{:class=> "found_item_search",:id => "found_item_search_#{found_item.id}",:style=>"height:60px"}= link_to "#{found_item.name unless found_item.name.blank?} has found #{check_vowel(found_item.found_item)} #{process_item_name(found_item.found_item) unless found_item.found_item.blank?} near #{found_item.found_location} at #{found_item.found_date.strftime('%d %B, %Y') unless found_item.found_date.blank?}", found_item_path(found_item.id)
		%br/
	= paginate found_items,:remote => true
- else 
	%p sorry, we did not find anything	