- if lost_items.present?
	- lost_items.each do |lost_item|
		%div{:class=> "lost_item_search",:id => "lost_item_search_#{lost_item.id}",:style=>"height:60px"}= link_to "#{lost_item.name unless lost_item.name.blank?} has lost #{check_vowel(lost_item.lost_item)} #{process_item_name(lost_item.lost_item) unless lost_item.lost_item.blank?} near #{lost_item.lost_location} at #{lost_item.lost_date.strftime('%d %B, %Y') unless lost_item.lost_date.blank?}", lost_item_path(lost_item.id)
		%br/
= paginate lost_items,:remote => true