%div
	- if @lost_report_count <= 0 && @found_report_count <= 0
		%p Hi there, it seems you havent made any report yet.
	- else
		Hello <b>#{current_user.email.split("@").first}</b>, you have reported <b>#{@lost_report_count}</b> lost item#{(@lost_report_count > 1)? "s": ""} &	<b>#{@found_report_count}</b> found item#{(@found_report_count > 1)? "s": ""}
		%br/	
		click <a id="show_lost_found" href="#">here</a> to see them
	


%div{:class => "lost_found_items"}
	- if @lost_item_ids.present?
		- @lost_item_ids.each do |item|
			= link_to "You have lost your #{process_item_name(item.last)}#{(item[1])? " (closed)" : ""}", user_lost_item_path(current_user,item.first), :class => "fbb"
			%br/
	%br/
	
	- if @found_item_ids.present?
		- @found_item_ids.each do |item|
			= link_to "You have found #{check_vowel(item.last)} #{process_item_name(item.last)}#{(item[1])? " (closed)" : ""}", user_found_item_path(current_user,item.first)
			%br/
%br/
- if user_signed_in?
	= link_to "check your activity", user_activities_path(current_user.id)				



:javascript
	$(function(){
		$(".lost_found_items").hide();
		$("#show_lost_found").on('click',function(){
			$(".lost_found_items").toggle('slow');
		});
	});		
