%div
	- if @lost_report_count <= 0 
		%p Hi there, it seems you havent made any report yet.
	- else
		Hello, you have reported <b>#{@lost_report_count}</b> lost item#{(@lost_report_count >= 1)? "s": ""} &	<b>#{@found_report_count}</b> found item#{(@found_report_count >= 1)? "s": ""}
		%br/	
		click <a id="show_lost_found" href="#">here</a> to see them	


%div.lost_found_items
	- if @lost_item_ids.present?
		- @lost_item_ids.each do |item|
			= link_to "You have lost your #{process_item_name(item.lost_item)}", lost_item_path(item.id)
			%br/
	%br/
	
	- if @found_item_ids.present?
		- @found_item_ids.each do |item|
			= link_to "You have found #{check_vowel(item.found_item)} #{process_item_name(item.found_item)}", found_item_path(item.id)
			%br/	



:javascript
	$(function(){
		$(".lost_found_items").hide();
		$("#show_lost_found").on('click',function(){
			$(".lost_found_items").toggle('slow');
		})
	})					