.page-header

%p#notice= notice

%p
  %b Name:
  = @found_item.name if @found_item.name.present?
%p
  %b Address:
  = @found_item.address if @found_item.address.present?
%p
  %b Cell:
  = @found_item.cell if @found_item.cell.present?
%p
  %b Found item:
  = @found_item.found_item if @found_item.found_item.present?
%p
  %b Description:
  = @found_item.description if @found_item.description.present?  
%p
  %b Found location:
  = @found_item.found_location if @found_item.found_location.present?
%p
  %b Found date:
  =# @found_item.found_date.strftime("%d %B, %Y") if @found_item.found_date.present?
  = time_tag(@found_item.found_date, :format => "%B %d, %Y") if @found_item.found_date.present?
%p{:style => "width:200px;height:auto;overflow:hidden"}
  %b Found item pic:
  = link_to (image_tag (@found_item.found_item_pic.url)),  @found_item.found_item_pic.url, :class => "fb" if @found_item.found_item_pic.present?
%p
  %b Email:
  = @found_item.email if @found_item.email.present?
%p
  %b Additional contact:
  = @found_item.additional_contact if @found_item.additional_contact.present?
%div
  = image_tag "http://maps.google.com/maps/api/staticmap?size=300x250&sensor=true&zoom=16&markers=#{@found_item.latitude}%2c#{@found_item.longitude}"   

= link_to 'Edit', edit_user_found_item_path(@found_item),:class => 'btn'
\|
= link_to 'Back', found_items_path, :class => 'btn'

%br/
%br/

%div.show_comments= render :partial => 'show_comment', :locals => {:comments => @comments}

- if user_signed_in?
  = render :partial => 'comment_form', :locals => {:found_item => @found_item}
