= form_for [current_user,@lost_item], :html => { :class => 'form-horizontal' } do |f|
  - if @lost_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lost_item.errors.count, "error")} prohibited this lost_item from being saved:"
      %ul
        - @lost_item.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text'

  .control-group
    = f.label :address, :class => 'control-label'
    .controls
      = f.text_area :address, :class => 'textarea', :rows => 5

  .control-group
    = f.label :cell, :class => 'control-label'
    .controls
      = f.text_field :cell, :class => 'text'

  .control-group
    = f.label :lost_item, :class => 'control-label'
    .controls
      = f.text_field :lost_item, :class => 'text'

  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'textarea', :rows => 5, :title => "Try to be verbose with detail"    

  .control-group
    = f.label :lost_location, :class => 'control-label'
    .controls
      = f.text_area :lost_location, :class => 'textarea', :rows => 5, :title => "Please try provide the location as accurate as you can"

  .control-group
    = f.label :lost_date, :class => 'control-label'
    .controls
      = f.text_field :lost_date, :class => 'text'

  .control-group
    = f.label :lost_item_pic, :class => 'control-label'
    .controls
      = f.file_field :lost_item_pic, :class => 'file'

  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :value => current_user.email,:class => 'text',:readonly => true

  .control-group
    = f.label :additional_contact, :class => 'control-label'
    .controls
      = f.text_area :additional_contact, :class => 'textarea', :rows => 5

  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'


:javascript
  $(function(){
    $(document).tooltip();

    $("#lost_item_lost_date").datepicker({dateFormat: 'dd-mm-yy'});

    $(".form-horizontal").isHappy({
      fields : {
        "#lost_item_name" :{
          required : true,
          message  : "You must enter your name"  
        },
        "#lost_item_address" :{
          required : true,
          message  : "You must give your address"
        },
        "#lost_item_cell" :{
          required : true,
          message  : "You must give your cell no"
        },
        "#lost_item_lost_item" :{
          required : true,
          message  : "You must tell what you have lost"
        },
        "#lost_item_lost_location" :{
          required :true,
          message  : "You must tell where you have lost your item"
        },
        "#lost_item_lost_date" :{
          required : true,
          message  : "You must tell when you lost the item",
          test     : function(val1){
            var date_array = val1.split("-");
            var date = new Date(date_array[2],(date_array[1]-1),date_array[0]);
            var today = new Date();
            if (date.getTime() > today.getTime()){return false;}
            else {return true;}
          }
        },
        "#lost_item_email" :{
          required : true,
          message  : "You must give your email address"
        }
      }
    });
  });
