= form_for @lost_item do |f|
  - if @lost_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lost_item.errors.count, "error")} prohibited this lost_item from being saved:"
      %ul
        - @lost_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :cell
    = f.text_field :cell
  .field
    = f.label :lost_item
    = f.text_field :lost_item
  .field
    = f.label :lost_location
    = f.text_field :lost_location
  .field
    = f.label :lost_date
    = f.text_field :lost_date
  .field
    = f.label :lost_item_pic
    = f.file_field :lost_item_pic
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :additional_contact
    = f.text_field :additional_contact
  .actions
    = f.submit 'Save'
