%h3 Reported Lost Items

/ %table
/   %tr
/     %th Name
/     %th Address
/     %th Cell
/     %th Lost item
/     %th Lost location
/     %th Lost date
/     %th Lost item pic
/     %th Email
/     %th Additional contact
/     %th
/     %th
/     %th

/   - @lost_items.each do |lost_item|
/     %tr
/       %td= lost_item.name
/       %td= lost_item.address
/       %td= lost_item.cell
/       %td= lost_item.lost_item
/       %td= lost_item.lost_location
/       %td= lost_item.lost_date
/       %td= lost_item.lost_item_pic
/       %td= lost_item.email
/       %td= lost_item.additional_contact
/       %td= link_to 'Show', lost_item
/       %td= link_to 'Edit', edit_lost_item_path(lost_item)
/       %td= link_to 'Destroy', lost_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%div.index
  - if @lost_items.present?
    - @lost_items.each do |lost_item|
      = link_to "#{lost_item.name unless lost_item.name.blank?} has lost #{check_vowel(lost_item.lost_item)} #{process_item_name(lost_item.lost_item) unless lost_item.lost_item.blank?} near #{lost_item.lost_location} at #{lost_item.lost_date.strftime('%d %B, %Y') unless lost_item.lost_date.blank?}", lost_item_path(lost_item.id)
      %br/
  - else
    No Lost Item has been reported yet.    

%br

= link_to 'New Lost item', new_lost_item_path
