%p#notice= notice

%p
  %b Name:
  = @lost_item.name
%p
  %b Address:
  = @lost_item.address
%p
  %b Cell:
  = @lost_item.cell
%p
  %b Lost item:
  = @lost_item.lost_item
%p
  %b Lost location:
  = @lost_item.lost_location
%p
  %b Lost date:
  = @lost_item.lost_date.strftime("%d %B, %Y")
%p{:style => "width:200px;height:200px;overflow:hidden"}
  %b Lost item pic:
  = @lost_item.lost_item_pic.url
%p
  %b Email:
  = @lost_item.email
%p
  %b Additional contact:
  = @lost_item.additional_contact

= link_to 'Edit', edit_lost_item_path(@lost_item)
\|
= link_to 'Back', lost_items_path
