.page-header


%p#notice= notice

%p
  %b Name:
  = @lost_item.name if @lost_item.name.present?
%p
  %b Address:
  = @lost_item.address if @lost_item.address.present?
%p
  %b Cell:
  = @lost_item.cell if @lost_item.cell.present?
%p
  %b Lost item:
  = @lost_item.lost_item if @lost_item.lost_item.present?
%p
  %b Description:
  = @lost_item.description if @lost_item.description.present?  
%p
  %b Lost location:
  = @lost_item.lost_location if @lost_item.lost_location.present?
%p
  %b Lost date:
  =# @lost_item.lost_date.strftime("%d %B, %Y") if @lost_item.lost_date.present?
  = time_tag(@lost_item.lost_date, :format => "%B %d, %Y")  if @lost_item.lost_date.present?
%p{:style => "width:200px;height:auto;overflow:hidden"}
  %b Lost item pic:
  = link_to (image_tag (@lost_item.lost_item_pic.url)),  @lost_item.lost_item_pic.url, :class => "fb" if @lost_item.lost_item_pic.present?
%p
  %b Email:
  = @lost_item.email if @lost_item.email.present?
%p
  %b Additional contact:
  = @lost_item.additional_contact if @lost_item.additional_contact.present? 

%div
  = image_tag "http://maps.google.com/maps/api/staticmap?size=300x250&sensor=true&zoom=16&markers=#{@lost_item.latitude}%2c#{@lost_item.longitude}"

= link_to 'Edit', edit_lost_item_path(@lost_item), :class => 'btn'
\|
= link_to 'Back', lost_items_path, :class => 'btn'
